html {
  background-color: sienna;
  margin: 15px 30px 15px 30px;
}
.well-lg{
  background-color: sienna;
  text-align: center;
  height: 200px;
}

h1 {
  text-align: center;
  background-color: tan;

}

h3 {
  text-align: center;
  background-color: tan;
}



.row {
  margin: 15px 0px 15px 0px;
}

ul {
  list-style-type: none;
}

\
.col-md-2 {
  background-color: darkgrey;
  color: black;
  border: 1px solid black;
  margin: 0px 5px 0px 5px;
  width: 10%;
  text-align: center;
  padding: 10px;
}

.col-md-3 {
  background-color: lightgrey;
  border: 1px solid black;
}

.col-md-8 {
  background-color: lightgrey;
  border: 1px solid black;
  padding: 10px;
}


}

.col-md-4 {
  background-color: lightgrey;
  border: 1px solid black;
}


.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
  }

.MoreInformation {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: green;
}

.slideshowText {
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: sienna;
}
